In [75]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('predict_case.csv' ,sep='|')
df

,id,job_title,location,salary_currency,career_level,experience_level,education_level,employment_type,job_function,job_benefits,company_process_time,company_size,company_industry,job_description
0,13973,Sales Staff (Japanese Speaker),Jakarta Raya,IDR,Lulusan baru/Pengalaman kerja kurang dari 1 tahun,NaN,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",Penuh Waktu,"Penjualan / Pemasaran,Penjualan - Korporasi","Tip;Asuransi kesehatan;Waktu regular, Senin - ...",21 days,1- 50 pekerja,Manajemen/Konsulting HR,Age maximal 23 years oldCandidate must possess...
1,12830,Finance Accounting supervisor,Jakarta Barat,IDR,Manajer/Asisten Manajer,3 tahun,Tidak terspesifikasi,Penuh Waktu,"Akuntansi / Keuangan,Akuntansi Umum / Pembiayaan",NaN,25 days,1- 50 pekerja,Retail/Merchandise,Persyaratan:•Pendidikan Minimal S1 Jurusan Aku...
2,25858,Finance & Accounting Manager - Logistics (A-64...,Jakarta Pusat,IDR,Manajer/Asisten Manajer,5 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Akuntansi / Keuangan,Akuntansi Umum / Pembiayaan",NaN,19 days,1- 50 pekerja,Manajemen/Konsulting HR,About The Company:The working venue is in Jaka...
3,24089,Sales Executive,Medan,IDR,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",Penuh Waktu,"Penjualan / Pemasaran,Penjualan Ritel","Asuransi kesehatan;Waktu regular, Senin - Juma...",16 days,201 - 500 pekerja,Perbankan/Pelayanan Keuangan,Tentang majoomajoo Teknologi Indonesia adalah ...
4,2140,Manager Restoran,Jakarta Utara,IDR,Manajer/Asisten Manajer,5 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Hotel/Restoran,Makanan/Minuman/Pelayanan Restoran",Kasual (contoh: Kaos);Ketenagakerja;Selasa-Minggu,17 days,1- 50 pekerja,Makanan & Minuman/Katering/Restoran,Bisa dan mau bekerja baik di lapangan maupun b...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266,4447,Compensation and Benefit Assistant Manager,Jakarta Raya,IDR,Manajer/Asisten Manajer,3 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Sumber Daya Manusia/Personalia,Sumber Daya Man...",NaN,NaN,NaN,NaN,Requirement :Minimal 3 years experienced as Co...
1267,7628,Social Media Specialist,Jakarta Selatan,IDR,Lulusan baru/Pengalaman kerja kurang dari 1 tahun,NaN,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",Magang,"Seni/Media/Komunikasi,Periklanan",NaN,NaN,NaN,Seni/Desain/Fashion,"ResponsibilityDevelop, implement and manage so..."
1268,10276,Mechanic,Papua,IDR,Pegawai (non-manajemen & non-supervisor),1 tahun,Tidak terspesifikasi,Penuh Waktu,"Teknik,Mekanikal","Asuransi kesehatan;Waktu regular, Senin - Juma...",NaN,51 - 200 pekerja,Automobil/Mesin Tambahan Automotif/Kendaraan,Kualifikasinya :Pendidikan Minimal SMK Jurusan...
1269,6490,Quality Assurance & SHE Section Head,Cikarang,IDR,Manajer/Asisten Manajer,2 tahun,Sarjana (S1),Penuh Waktu,"Teknik,Teknik Lingkungan",Tip;Bisnis (contoh: Kemeja);BPJS;Regular hours...,29 days,1001 - 2000 pekerja,Pelayanan Arsitek/Desain Interior,Job Description:Collecting data related to mat...
1270,18839,Graphic Designer,Medan,IDR,Pegawai (non-manajemen & non-supervisor),NaN,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Seni/Media/Komunikasi,Seni / Desain Kreatif",NaN,NaN,1- 50 pekerja,Komputer/Teknik Informatika (Perangkat Lunak),"Tugas & Tanggung Jawab:Mendesain banner, flyer..."

In [76]:
df = df.drop(['salary_currency','job_description', 'job_benefits', 'job_title'], axis=1)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1271 entries, 0 to 1270
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1271 non-null   int64
 1   location              1271 non-null   object
 2   career_level          1271 non-null   object
 3   experience_level      1151 non-null   object
 4   education_level       1271 non-null   object
 5   employment_type       1271 non-null   object
 6   job_function          1271 non-null   object
 7   company_process_time  816 non-null    object
 8   company_size          1063 non-null   object
 9   company_industry      1235 non-null   object
dtypes: int64(1), object(9)
memory usage: 99.4+ KB

In [78]:
df['education_level'].replace({'Sarjana (S1)': 'Sarjana',
                               'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1)' : 'Sarjana',
                               'SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1)': 'Sarjana',
                               'Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 'Magister',
                               'SMA, SMU/SMK/STM' : 'SMA/SMK',
                               'Sertifikat Professional, D3 (Diploma), D4 (Diploma)' : 'Diploma',
                               'SMA, SMU/SMK/STM, Sarjana (S1)' : 'Sarjana',
                               'Diploma Pascasarjana, Gelar Professional, Magister (S2) ' : 'Magister',
                               'Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2), Doktor (S3)' : 'Doktor',
                               'Diploma Pascasarjana, Gelar Professional, Magister (S2), Doktor (S3)' : 'Doktor',
                               'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 'Magister',
                               'SMA, SMU/SMK/STM, Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 'Magister',
                               'Doktor (S3)' : 'Doktor',
                               'Sarjana (S1), Doktor (S3)' : 'Doktor',
                               'SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma), Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 'Magister',
                               'Sarjana (S1), Diploma Pascasarjana, Gelar Professional' : 'Sarjana',
                               'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1), Doktor (S3)' : 'Doktor',
                               'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 'Magister',
                               'SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma)' : 'Diploma',
                               'Diploma Pascasarjana, Gelar Professional, Magister (S2)' : 'Magister'}, inplace=True)

# Definisikan pemetaan tipe pekerjaan ke kode yang diinginkan
education_level_mapping = {
    'Tidak terspesifikasi ': 0,
    'SMA/SMK': 1,
    'Diploma ': 2,   
    'Sarjana': 3,
    'Magister': 4,
    'Doktor': 5,
}

df['education_level'] = df['education_level'].map(education_level_mapping)
df['education_level'].value_counts()

education_level
3.0    732
4.0    115
1.0     93
5.0      6
Name: count, dtype: int64

In [79]:
df['company_size'].value_counts()

company_size
1- 50 pekerja              360
51 - 200 pekerja           325
201 - 500 pekerja          135
501 - 1000 pekerja          77
1001 - 2000 pekerja         75
Lebih dari 5000 pekerja     51
2001 - 5000 pekerja         40
Name: count, dtype: int64

In [80]:
mapping = {
    '1- 50 pekerja': 25,
    '51 - 200 pekerja': 125,
    '201 - 500 pekerja': 350,
    '501 - 1000 pekerja': 750,
    '1001 - 2000 pekerja': 1500,
    '2001 - 5000 pekerja': 3500,
    'Lebih dari 5000 pekerja': 5000
}

# Konversi kolom 'company_size' ke tipe data integer menggunakan mapping
df['company_size'] = df['company_size'].map(mapping)

In [81]:
df['company_process_time'].value_counts()

company_process_time
29 days    128
28 days     85
27 days     65
26 days     45
24 days     41
25 days     39
16 days     34
21 days     33
30 days     30
19 days     28
23 days     27
20 days     26
14 days     24
22 days     24
3 days      20
7 days      19
18 days     18
1 day       18
12 days     16
17 days     13
5 days      12
4 days      12
2 days      12
9 days       9
11 days      8
15 days      8
13 days      7
8 days       7
10 days      5
6 days       3
Name: count, dtype: int64

In [82]:
df['company_process_time'] = df['company_process_time'].str.replace(' days', '')
df['company_process_time'] = df['company_process_time'].str.replace(' day', '')
df['company_process_time'] = df['company_process_time'].fillna(df['company_process_time'].mode()[0])

df['company_process_time'] = df['company_process_time'].astype(int)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1271 entries, 0 to 1270
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1271 non-null   int64
 1   location              1271 non-null   object
 2   career_level          1271 non-null   object
 3   experience_level      1151 non-null   object
 4   education_level       946 non-null    float64
 5   employment_type       1271 non-null   object
 6   job_function          1271 non-null   object
 7   company_process_time  1271 non-null   int32
 8   company_size          1063 non-null   float64
 9   company_industry      1235 non-null   object
dtypes: float64(2), int32(1), int64(1), object(6)
memory usage: 94.5+ KB

In [84]:
df['experience_level'].value_counts()

experience_level
1 tahun     388
2 tahun     368
3 tahun     222
5 tahun     118
4 tahun      21
10 tahun     19
8 tahun       6
6 tahun       4
7 tahun       4
15 tahun      1
Name: count, dtype: int64

In [85]:
mapping = {
    '1 tahun': 1, '2 tahun': 2, '3 tahun': 3, '4 tahun': 4, '5 tahun': 5,
    '6 tahun': 6, '7 tahun': 7, '8 tahun': 8, '9 tahun': 9, '10 tahun': 10,
    '11 tahun': 11, '12 tahun': 12, '13 tahun': 13, '14 tahun': 14,
    '15 tahun': 15, '16 tahun': 16, '17 tahun': 17, '20 tahun': 20
}

# Konversi kolom ke tipe data integer
df['experience_level'] = df['experience_level'].map(mapping)

In [86]:
df['experience_level'].value_counts()

experience_level
1.0     388
2.0     368
3.0     222
5.0     118
4.0      21
10.0     19
8.0       6
6.0       4
7.0       4
15.0      1
Name: count, dtype: int64

In [87]:
df['employment_type'].value_counts()

employment_type
Penuh Waktu             1073
Kontrak                  168
Paruh Waktu               18
Magang                     5
Temporer                   5
Penuh Waktu, Kontrak       2
Name: count, dtype: int64

In [88]:
mapping = {
    'Penuh Waktu': 4,
    'Kontrak': 3,
    'Paruh Waktu': 2,
    'Temporer': 1,
    'Penuh Waktu, Kontrak': 3,
    'Magang': 0,
}

# Konversi kolom ke tipe data integer
df['employment_type'] = df['employment_type'].map(mapping)
df['employment_type'].value_counts()

employment_type
4    1073
3     170
2      18
0       5
1       5
Name: count, dtype: int64

In [89]:
df['career_level'].value_counts()

career_level
Pegawai (non-manajemen & non-supervisor)             771
Supervisor/Koordinator                               206
Manajer/Asisten Manajer                              164
Lulusan baru/Pengalaman kerja kurang dari 1 tahun    109
CEO/GM/Direktur/Manajer Senior                        21
Name: count, dtype: int64

In [90]:

import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=['career_level'], return_df=True,
                            mapping=[{'col':'career_level','mapping':{'Lulusan baru/Pengalaman kerja kurang dari 1 tahun': 0,
                                                                  'Pegawai (non-manajemen & non-supervisor)': 1,
                                                                  'Supervisor/Koordinator': 2,
                                                                  'Manajer/Asisten Manajer': 3,
                                                                  'CEO/GM/Direktur/Manajer Senior': 4}
}])
df_encoded = encoder.fit_transform(df)
print(df_encoded.info())
df = df_encoded
df['career_level'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1271 entries, 0 to 1270
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1271 non-null   int64
 1   location              1271 non-null   object
 2   career_level          1271 non-null   int32
 3   experience_level      1151 non-null   float64
 4   education_level       946 non-null    float64
 5   employment_type       1271 non-null   int64
 6   job_function          1271 non-null   object
 7   company_process_time  1271 non-null   int32
 8   company_size          1063 non-null   float64
 9   company_industry      1235 non-null   object
dtypes: float64(3), int32(2), int64(2), object(3)
memory usage: 89.5+ KB
None

career_level
1    771
2    206
3    164
0    109
4     21
Name: count, dtype: int64

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1271 entries, 0 to 1270
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1271 non-null   int64
 1   location              1271 non-null   object
 2   career_level          1271 non-null   int32
 3   experience_level      1151 non-null   float64
 4   education_level       946 non-null    float64
 5   employment_type       1271 non-null   int64
 6   job_function          1271 non-null   object
 7   company_process_time  1271 non-null   int32
 8   company_size          1063 non-null   float64
 9   company_industry      1235 non-null   object
dtypes: float64(3), int32(2), int64(2), object(3)
memory usage: 89.5+ KB

In [92]:
df.to_csv('cleaned2.csv', index=False)